@font-face {
    font-family: 'TitlingGothicFB Cond';
    src: url(../fonts/TitlingGothicFB_Cond_Bold.otf);
}

@font-face {
    font-family: 'Acumin Pro';
    src: url(../fonts/FontsFree-Net-Acumin-Pro-Book.ttf);
}

/* <---------------------------------------------------- universal Selector --------------------------------------------------------> */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* <----------------------------------------------------------- root ----------------------------------------------------------------> */

:root {

    /* colors */

    --color-white: #FFFFFF;
    --black-color: #000000;
    --orange-clr: #FA6A00;
    --text-light-clr: #636363;
    --drop-shadow: #FA6A0099;
    --hover-drop-shadow: rgba(250, 106, 0, .6);
    --pro-box-clr: #E3FAFF0D;
    --text-clr: #101A2E;
    --brdr-light-white: #FFFFFF80;
    --accordion-back-clr-1: #6EE7FF12;
    --number-sec-clr-1: #F3F3F4;
    --number-sec-clr-2: #FDF9F2;
    --number-sec-clr-3: #FB842C1A;
    --sub-box-brdr: #FB842CB2;
    --sub-box-drop-shadow: #FA6A00CC;
    --question-box-brdr: #101A2E33;

    /* font-family */

    --fm: 'Acumin Pro';
    --fm-titling: 'TitlingGothicFB Cond';


    /* style */

    --font-style: italic;


    /* letter spacing */

    --ls-main-heading: 0.2em;
    --ls-hero-text: -1.27px;


    /* font weight */

    --fw-400: 400;
    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-800: 800;
    --fw-700: 700;
    --fw-900: 900;


    /* font-size */

    --fs-10: 10px;
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-21: 21px;
    --fs-23: 23px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-36: 36px;
    --fs-40: 40px;
    --fs-43: 43px;
    --fs-44: 44px;
    --fs-45: 45px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fs-52: 52px;
    --fs-54: 54px;
    --fs-55: 55px;
    --fs-59: 59px;
    --fs-61: 61px;
    --fs-64: 64px;
    --fs-65: 65px;
    --fs-70: 70px;
    --fs-72: 72px;
    --fs-79: 79px;
    --fs-80: 80px;
    --fs-96: 96px;
    --fs-100: 100px;
    --fs-108: 108px;
    --fs-157: 157px;


    /* lh */

    --lh-16: 16px;
    --lh-18: 18px;
    --lh-19: 19px;
    --lh-24: 24px;
    --lh-20: 20px;
    --lh-21: 21px;
    --lh-23: 23px;
    --lh-26: 26px;
    --lh-27: 27px;
    --lh-28: 28px;
    --lh-29: 29px;
    --lh-30: 30px;
    --lh-32: 32px;
    --lh-35: 35px;
    --lh-36: 36px;
    --lh-38: 38px;
    --lh-39: 39px;
    --lh-40: 40px;
    --lh-41: 41px;
    --lh-42: 42px;
    --lh-45: 45px;
    --lh-46: 46px;
    --lh-48: 48px;
    --lh-49: 49px;
    --lh-50: 50px;
    --lh-54: 54px;
    --lh-64: 64px;
    --lh-56: 56px;
    --lh-60: 60px;
    --lh-62: 62px;
    --lh-68: 68px;
    --lh-71: 71px;
    --lh-72: 72px;
    --lh-75: 75px;
    --lh-79: 79px;
    --lh-80: 80px;
    --lh-79: 79px;
    --lh-83: 83px;
    --lh-86: 86px;
    --lh-90: 90px;
    --lh-96: 96px;
    --lh-100: 100px;
    --lh-115: 115px;
    --lh-130: 130px;
    --lh-188: 188px;


    /* lh in percent */

    --lh-110: 110%;
    --lh-120: 120%;
    --lh-150: 150%;

}

/* <----------------------------------------------------------- different containers ----------------------------------------------------------------> */

.container_hero {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container-navBar {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* <----------------------------------------------------------- spacified root value ----------------------------------------------------------------> */


.primary_color {
    background: var(--primary-color);
}

.fm-acumin {
    font-family: var(--fm);
}

.fm-titling {
    font-family: var(--fm-titling);
}

.btn_back_clr {
    background: var(--primary-color);
}

.font-style {
    font-style: var(--font-style);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-300 {
    font-weight: var(--fw-300);
}

.fw-800 {
    font-weight: var(--fw-800);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.fw-900 {
    font-weight: var(--fw-900);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-23 {
    font-size: var(--fs-23);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-61 {
    font-size: var(--fs-61);
}

.fs-21 {
    font-size: var(--fs-21);
}

.fs-12 {
    font-size: var(--fs-12);
}

.light_white_clr {
    color: var(--text-col-clr);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-96 {
    font-size: var(--fs-96);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-45 {
    font-size: var(--fs-45);
}

.fs-54 {
    font-size: var(--fs-54);
}

.fs-70 {
    font-size: var(--fs-70);
}

.fs-79 {
    font-size: var(--fs-79);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-48 {
    font-size: var(--fs-48);
}

.lh-38 {
    line-height: var(--lh-38);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-52 {
    font-size: var(--fs-52);
}

.fs-100 {
    font-size: var(--fs-100);
}

.fs-108 {
    font-size: var(--fs-108);
}

.fs-157 {
    font-size: var(--fs-157);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-64 {
    line-height: var(--lh-64);
}

.fs-55 {
    line-height: var(--lh-55);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-71 {
    line-height: var(--lh-71);
}

.lh-80 {
    line-height: var(--lh-80);
}

.lh-60 {
    line-height: var(--lh-60);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-46 {
    line-height: var(--lh-46);
}

.lh-90 {
    line-height: var(--lh-90);
}

.lh-30 {
    line-height: var(--lh-30);
}

.ls_main {
    letter-spacing: var(--ls-main-heading);
}

.ls_127 {
    letter-spacing: var(--ls-hero-text);
}

.lh-26 {
    line-height: var(--lh-26);
}

.lh-48 {
    line-height: var(--lh-48);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-18 {
    line-height: var(--lh-18);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-45 {
    line-height: var(--lh-45);
}

.fs-44 {
    font-size: var(--fs-44);
}

.lh-50 {
    line-height: var(--lh-50);
}

.lh-110 {
    line-height: var(--lh-110);
}

.lh-115 {
    line-height: var(--lh-115);
}

.lh-120 {
    line-height: var(--lh-120);
}

.lh-150 {
    line-height: var(--lh-150);
}

.lh-68 {
    line-height: var(--lh-68);
}

.lh-35 {
    line-height: var(--lh-35);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-75 {
    line-height: var(--lh-75);
}

.lh-56 {
    line-height: var(--lh-56);
}

.lh-42 {
    line-height: var(--lh-42);
}

.text_black {
    color: var(--black-color);
}

.fs-65 {
    font-size: var(--fs-65);
}

.lh-79 {
    line-height: var(--lh-79);
}

.lh-32 {
    line-height: var(--lh-32);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-62 {
    line-height: var(--lh-62);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-36 {
    line-height: var(--lh-36);
}

.lh-96 {
    line-height: var(--lh-96);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-83 {
    line-height: var(--lh-83);
}

.lh-100 {
    line-height: var(--lh-100);
}

.lh-130 {
    line-height: var(--lh-130);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-16 {
    line-height: var(--lh-16);
}

a {
    list-style: none !important;
    text-decoration: none !important;
}

.cursor {
    cursor: pointer;
}

.light_black_clr {
    color: var(--light-black-clr);
}

.back_color_body {
    background: #0D0D0D;
}

.opacity-70 {
    opacity: 70%;
}

.opacity-90 {
    opacity: 90%;
}

.outline-none {
    outline: none;
}


